//
// Base element style overrides
//
// stylelint-disable selector-no-type, selector-max-type

* {
  box-sizing: border-box;
}

::selection {
  color: $white;
  background: $link-color;
}

code::selection {
  background: gray;
}

html {
  @include fs-4;
  scroll-behavior: smooth;
}

body {
  font-family: $body-font-family;
  font-size: inherit;
  line-height: $body-line-height;
  color: $body-text-color;
  background-color: $body-background-color;
  background-image: linear-gradient(
        124deg,
        $grey-dk-250 0%,
        $grey-dk-300 45%
      );
  background-attachment: fixed;
}

video {
  width: 100%;
}

ol,
ul,
dl,
pre,
address,
blockquote,
table,
div,
hr,
form,
fieldset,
noscript .table-wrapper {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: 500;
  line-height: $body-heading-line-height;
  color: $body-heading-color;
  text-shadow: 0 2px 0px #270149;;
}

em{
  opacity:0.8;
}

h1{
  color: $body-h1-color;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:not([class]) {
  text-decoration: none;
  background-image: linear-gradient($border-color 0%, $grey-lt-300 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 1px;

  &:hover {
    background-image: linear-gradient(
      rgba($nkmblue-300, 0.45) 0%,
      rgba($nkmblue-300, 0.45) 100%
    );
    background-size: 1px 100%;
  }
}

code {
  font-family: $mono-font-family;
  font-size: 0.90em;
  line-height: $body-line-height;
  background-color: none !important;
}

figure,
pre {
  margin: 0;
}

li {
  margin: 0.25em 0;
}

img {
  max-width: 100%;
  height: auto;
}


hr {
  height: 1px;
  padding: 0;
  margin: $sp-6 0;
  background-color: $border-color;
  border: 0;
  margin-left: -$sp-6;
  width: calc( 100% + calc( #{$sp-6} * 2) );
}

body, .main, .site-nav{
  
  &::-webkit-scrollbar-track {
    background-color: rgba(127, 127, 127, 0.05);
  }
  
  &::-webkit-scrollbar-track-piece {
      background-color: rgba(0, 0, 0, 0);
  }
  
  &::-webkit-scrollbar-track-piece::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      left: 50%;
      background-color: rgba(255, 0, 0, 1);
  }
  
  &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background-color: rgba(127, 127, 127, 0.05);
  }

  &::-webkit-scrollbar-thumb{
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.05);
  }
  
  &::-webkit-scrollbar-corner{
      border: none;
      display: none;
      background-color: rgba(255, 255, 255, 0.1);
  }

  &:hover::-webkit-scrollbar-thumb{
      background-color: rgba(255, 255, 255, 0.5);
  }

  &:hover::-webkit-scrollbar-thumb:hover{
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.5);
  }
}

.node-splash{
  background-image: var(--img);
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  height: 100px;
  //mix-blend-mode: screen;
  //image-rendering: pixelated;
  border-radius: 3px;
}