
Binaries/*
Intermediate/*
Plugins/*/Intermediate/*

# Cache files for the editor to use
DerivedDataCache/*

# Ignore MacOS finder attribute file
.DS_Store

# 5.3 Excluded files

# Enum to Constants since it rely on a Blueprintable type that has its own inspector
Source/PCGExtendedToolkit/Public/Constants/PCGExConstantEnum.h
Source/PCGExtendedToolkit/Private/Constants/PCGExConstantEnum.cpp
