$body-background-color: $grey-dk-300;
$sidebar-color: $grey-dk-300;
$border-color: $grey-dk-200;

$body-text-color: $grey-lt-300;
$body-heading-color: $nkmbeige-000; //$nkmbeige-000
$body-maintitle-color: $white;
$body-h1-color: $nkmbeige-000;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$link-color: $white; //$nkmblue-000;
$link-color-active: $nkmred-000;
$btn-primary-color: $nkmblue-000;
$base-button-color: $grey-dk-250;

$code-background-color: #17161c;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);
